
.App {
    text-align: center;
  }
  
  
  .App header {
    background-color: #FFE3E1;
    padding: 20px;
    color: #FF9494;
  }
  
  .App a {
    color: #000000;
  }
  
  .App a:hover {
    text-decoration: underline;
  }
  